body {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
}

main {
    border: 1px solid linen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 400px;
    background-color: white;
}

.hidden {
    display: none;
}

.header {
    background-color: whitesmoke;
    color: midnightblue;
    border-bottom: 1px solid linen;
    text-align: center;
    margin-bottom: 10px;
}

.calculator {
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator__input1 {
    border: 1px solid linen;
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.calculator__input2 {
    border: 1px solid linen;
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.calculator__btn {
    color: white;
    background-color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    cursor: pointer;
}

.imc {
    background-color: lemonchiffon;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    color: goldenrod;
    border-radius: 5px;
}